<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>ReimsADLManualActivation</string>
	<key>CFBundleIdentifier</key>
	<string>lab.reims.ReimsADLManualActivation</string>
	<key>CFBundleName</key>
	<string>ReimsADLManualActivation</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.2</string>
	<key>CFBundleVersion</key>
	<string>0.2.2</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Dormant manual controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>lab.reims.ReimsADLManualActivation</string>
			<key>IOClass</key>
			<string>ReimsADLManualActivation</string>
			<key>IOMatchCategory</key>
			<string>ReimsADLManualActivation</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleIntelTGLGraphics</key>
		<string>16.0.3</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
